.Rproj.user
.Rhistory
.RData
.Ruserdata
Merow_AppendixA_Julin.Rmd
Ellner et al Textbook.pdf
Merow et al Appendices_RCode.pdf
IPM Code from Elena
Merow_AppendixC_Julin.Rmd
makeDiscreteTrans_Brandie_test.R
makeIPMPmatrix_Brandie_test.R
